@font-face {
    font-family: "perfectDark";
    src: url("pdark.ttf");
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #ece5e6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bodyContainer {
    background-color: red;
    display: flex;
    flex-direction: column;
    border: 10px solid #d12520;
    border-radius: 60px;
    height: 50%;
    width: 90%;
    align-items: center;
    gap: 20px;
}

.userScreenContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.squaresContainer {
    width: 410px;
    height: 410px;
    background-color: #fff;
    border: 0.5px solid #d15520;
    border-radius: 20px;
    /* display: grid;
    grid-template-columns: repeat(3, auto); */
}

.rightButtons {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

.button {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    border: 2px solid #d12520;
    border-radius: 200px;
    background-color: aquamarine;
}

.squaresNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    border: 1px solid #d12520;
    border-radius: 200px;
    background-color: beige;
}

.colorContainer {
    height: 200px;
    /*   border: 1px solid #d12520;*/
}

.title {
    color: yellow;
    font-size: 25px;
    font-weight: 800;
    font-family: perfectDark;
}

.square {
    border: 1px solid rgb(117, 107, 107, 0.1);
}

.square:hover {
    background-color: #d15520;
}